node_modules/
**/*.js
!contracts/test/*.js
**/*.d.ts
!contracts/test/*.d.ts
dist/
onchainos-skills/
.claude/
*.log
contracts/cache/
contracts/artifacts/
contracts/typechain-types/
contracts/ignition/deployments/
